.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Три колонки */
    gap: 16px;
    /* Расстояние между ячейками */
    justify-content: center;
    width: 100%;
    padding: 20px;
    list-style: none;
}

.gallery li {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}