.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: white;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.image {
    width: 100%;
    height: auto;
}